---
layout: default
title: Home
---

<div class="feature">
  {% assign post = site.posts.first %}

  <div class="feature-text movetxt">
    <!-- <time
      datetime="{{ post.date | date_to_xmlschema }}"
      class="feature-post-date"
      >{{ post.date | date_to_string }}</time
    > -->
    <h1 class="feature-title">Kenniscentrum Angst en Stress bij Jeugd</h1>
    <div class="feature-subtitle">

      </a>
    </div>
  </div>
  <div class="layer">
    <div class="feature-img" style="background-image: url(img/banner_KASlogo1.jpeg);"></div>
  </div>
</div>

<div class="posts-container">
  <div>
    <h3>HET KENNISCENTRUM</h3>
  </div>
    Onze missie is om stress- en angstklachten bij kinderen zo vroeg mogelijk te herkennen en te verhelpen, door het verbinden van onderzoek, praktijk, zorg en onderwijs. Wij delen: <br> 1) informatie over angst & stress bij jeugd en verzorgen onder meer presentaties en workshops voor scholen, <br> 2) we hebben een hulplijn waar iedereen heen kan bellen met vragen over angst en stress bij kinderen en jongeren, en <br>  3) we ontwikkeling en geven trainingen voor kinderen en jongeren met angst en stress. Het Kenniscentrum Angst en Stress bij jeugd is onderdeel van Universiteit Leiden.<a href="/team"> Lees verder </a>
<br>
  <br>
Onze telefonische hulplijn is beschikbaar op alle werkdagen van 9.00 - 17.00 uur. Voor vragen kunt u ook mailen naar kas@fsw.leidenuniv.nl.
</div>
  
<div class="posts-container">
  {% for post in site.news %}
  {% assign remainder = forloop.index | modulo: 2 %}
  {% if remainder == 1 %}
  <div class="row">
    {% endif %}
    <div class="column">
      <div class="article">
        <div class="article-head">
          <a href="{{ site.baseurl }}{{ post.project-url }}">
            <img src="{{ site.url }}{{post.image}}" />
          </a>
        </div>
        <div class="article-content">
          <h4>{{post.title}}</h4>
          <p>{{post.summary}}</p>
          <p>{{post.content}}</p>
        </div>
      </div>
    </div>
    {% if remainder == 0 %}
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="posts-container">
  {% for post in site.posts %} 
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 1 %}
    <div class="row">
    {% endif %}
    <div class="column">
      <div class="article">
        <div class="article-head">
            <a href="{{ site.baseurl }}{{ project-url }}">
              <img src="{{ site.url }}{{post.image}}" />
            </a>
        </div>
        <div class="article-content">
          <h4>{{post.title}}</h4>
          <p>{{post.summary}}</p>
        </div>
      </div>
    </div>
    {% if remainder == 0 %}
    </div>
    {% endif %}
  {% endfor %}
</div>

{% include bottom-menu.html %}
