<hr />

<div class="bottom-menu-container">
  <div class="row">
    <div class="column">
      <h4>CONTACT</h4>
      <div class="bottom-menu-item">
        <a href="mailto:kas@fsw.leidenuniv.nl">
          <img class="bottom-menu-img" src="{{ site.url }}/img/mail.svg" />
        </a>
        <div class="bottom-menu-content">
          <a href="mailto:kas@fsw.leidenuniv.nl">
           kas@fsw.leidenuniv.nl
          </a>
        </div>
      </div>
      <div class="bottom-menu-item">
          <img class="bottom-menu-img" src="{{ site.url }}/img/telephone.svg" />
        <div class="bottom-menu-content">
           071-5275464
        </div>
      </div>
    </div>
    <div class="column">
      <h4>LINKS</h4>
      <div class="bottom-menu-item">
        <img class="bottom-menu-img" src="{{ site.url }}/img/icon-195px.png" />
        <div class="bottom-menu-content">
          <a
            href="https://www.universiteitleiden.nl/en/social-behavioural-sciences/psychology/developmental-and-educational-psychology/social-anxiety"
            >Universiteit Leiden</a
          >
        </div>
      </div>
      <div class="bottom-menu-item">
        <!-- <img
          class="bottom-menu-img"
          src="{{ site.url }}/img/ResearchGate.png"
        />
        <div class="bottom-menu-content">
          <a href="https://www.researchgate.net/profile/Anke_Klein3"
            >Research Gate</a
          >
        </div> -->
      </div>
      <div class="bottom-menu-item">
        <!-- <img class="bottom-menu-img" src="{{ site.url }}/img/linkedin.svg" />
        <div class="bottom-menu-content">
          <a href="https://nl.linkedin.com/in/ankeklein">LinkedIn</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
