{% include i18n/i18n %} 

<!DOCTYPE html>
<<html lang="{{ locale.lang }}" ontouchmove>
  {% include head.html %}

  <body>
    <div class="container content">
      <header class="masthead">
        <h2 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home"><img class="masthead-logo" src="{{ site.url }}/img/KAS_logo.png"></a>
        </h2>
        
        <div class="menu">
          <ul>
            {% if page.locale == 'default' %}
            <li><a class="menu-link" href="{{ site.baseurl }}/info" class="active">{{ strings.info }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/team/">{{ strings.team }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/projects/">{{ strings.projects }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/media/">{{ strings.media }}</a></li>
            {% else %}
            <li><a class="menu-link" href="{{ site.baseurl }}/{{ page.locale }}/info" class="active">{{ strings.info }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/{{ page.locale }}/team/">{{ strings.team }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/{{ page.locale }}/projects/">{{ strings.projects }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/{{ page.locale }}/media/">{{ strings.media }}</a></li>
            {% endif %} 
          </ul>
        </div>
        <div class="dropdown">
          <span>
            {% if page.locale == 'default' %}<a href="/en"><img height="15" width src="{{ site.url }}/img/flags/en.svg" /></a>{% endif %}
            {% if page.locale == 'en' %}<a href="/"><img height="15" width src="{{ site.url }}/img/flags/nl.svg" /></a>{% endif %}
          </span>
        </div>

      </header>
    
    </div>
      <main>
        {{ content }}
      </main>
      <footer class="footer">
        <div class="footer-text">
          <small>
            {{ strings.footer }}                  
          </small>
        </div>
      </footer>
  </body>
</html>
