---
layout: default
---
<div class="feature">
  <div class="feature-text movetxt">
    <!-- <time
      datetime="{{ post.date | date_to_xmlschema }}"
      class="feature-post-date"
      >{{ post.date | date_to_string }}</time
    > -->
    <h1 class="feature-title">{{ post.title }}</h1>
    <div class="feature-subtitle">
      {{ post.excerpt }}
    </div>
  </div>
  <!-- <a class="feature-link" href="{{ site.baseurl }}{{ post.url }}">
    <div id="readnow">Read Now</div>
  </a> -->
  <div class="layer">
    <div class="feature-img" style="background-image: url({{ site.url }}{{page.image}});"></div>
  </div>
</div>

<article class="posts-container">
  <div>
    <h1 class="post-title">{{ page.title }}</h1>
  </div>
  <br />
  <br />
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

{% include bottom-team.html %}
{% include bottom-menu.html %}